* {
  color: rgb(126, 122, 122);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 70%;
  max-height: 90vh;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 8px gray;
  text-align: center;
  overflow-y: scroll;
  background-color: black;
}

#setParagraph {
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

input {
  width: 70%;
  margin: 5px 2px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
}

button {
  padding: 5px;
  margin: 5px;
  outline: none;
  background: black;
  background-color: blue;
  border: none;
  border-radius: 2px;
  font-size: x-small;
  cursor: pointer;
}

img {
  width: 400px;
  height: 200px;
  border-radius: 5%;
  margin-top: 1em;
}
